.window {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--color-white);
    border-radius: var(--radius);
}

.text {
    margin: 0 0 1rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.title{
    font-size: 1.15rem;
    font-weight: 600;
    margin: 0 0 1rem;
}