.window {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: var(--radius);
    background-color: var(--color-white);
    box-shadow: 0 0 5px 1px var(--color-bg-shadow);
}

.text {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.title{
    font-size: 1.15rem;
    font-weight: 600;
    margin: 0 0 1rem;
    padding: 0 0.5rem;
}

.link {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

@media screen and (max-width: 700px) {
  .lds-dual-ring {
    width: 40px;
    height: 40px;
  }
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--gradient-dark);
  border-color: var(--gradient-dark) transparent var(--gradient-dark) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@media screen and (max-width: 700px) {
    .lds-dual-ring:after {
      width: 32px;
      height: 32px;
      margin: 4px;
  }
}

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }