.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-bg);
    padding: 1rem;
    height: 40%;
    background-color: var(--top-bg);
    box-shadow: 0 0 2px 1px var(--color-btn-category);
}

.container {
    max-width: 766px;
    margin: 0 auto;
}

.top-user {
    display: flex;
    justify-content: center;
    align-content: center;
}

.settings-icon {
    cursor: pointer;
    padding: 0.5rem 1rem 0.25rem;
    font-size: 2rem;
    color: var(--color-bg);
    transition: color 0.4s ease-in-out;
} 
    
.settings-icon:hover {
    color: var(--color-accent);
}

.top__statistic {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--color-stat);
    border-radius: var(--radius);
    box-shadow: 0 0 3px 1px var(--color-btn-category);
}

.top__statistic-section {
    text-align: center;
    color: var(--stat-text);
    padding: 0.5rem 1rem;
    background-color: var(--color-stat);
    border-radius: var(--radius);
}

.p-normal {
    text-align: center;
    font-family: var(--Roboto);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--stat-text);
}

.p-text {
    text-align: center;
    font-family: var(--sherif);
    color: var(--stat-text);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: lowercase;
}