.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35%;
    color: var(--color-bg);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, var(--gradient-light) 0%, var(--gradient-dark) 100%);
    border-radius: 0 0 2rem 2rem;

    position: relative;
}

.container {
    max-width: 766px;
    margin: 0 auto;
}

.settings-icon {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2.5rem;
    color: var(--color-bg);
    transition: all 0.4s;
} 
    
.settings-icon:hover, .settings-icon:active {
    transform: rotate(180deg);
    color: var(--color-accent);
}

.top__statistic {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0.5rem;
    width: 90%;
    margin: 0 1rem;  
}

.top__statistic-section {
    text-align: center;
    color: var(--color-white);
    padding: 0 1rem;
}

.p-normal {
    font-family: var(--Roboto);
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--color-)
}

.p-text {
    font-family: var(--sherif);
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: lowercase;
}