.App {
  display: block;
  width: 100%;
  height: 100vh;

  background-color: var(--color-bg);
}

.symbol {
  width: 3rem;
  height: 3rem;
  margin: 1rem 2.25rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: 
      invert(100%) 
      sepia(0%) 
      saturate(0%) 
      hue-rotate(102deg) 
      brightness(107%) 
      contrast(100%);
}

.symbol__quiz {
  background-image: url('./assets/quiz.png');
}

.symbol__shape-line {
  background-image: url('./assets/shape_line.png');
}

.symbol__trending_up {
  background-image: url('./assets/trending_up.png');
}

.symbol__multiline_chart {
  background-image: url('./assets/multiline_chart.png');
}

.symbol__power_settings_new {
  background-image: url('./assets/power_settings_new.png');
}

.icon {
  font-size: 3rem;
  padding: 1rem;
  color: var(--color-bg);
}

@keyframes from-nothing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-1 {
  animation-name: from-nothing;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
}

.intro-2 {
  animation-name: from-nothing;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

.intro-text {
  text-align: center;
  padding: 1rem;
  font-size: 2.75rem;
  font-family: var(--Great);
  color: var(--color-btn-two)
}