:root {
  --color-bg: #F8FFF8;
  --color-bg-shadow: #D7DBAB;
  --top-bg: #67C62B;
  
  --color-dark: #334E21;
  --color-white: #fafffa;
  --color-accent: #B4F08E;

  --color-green: #72d487;
  --color-error: #ff002b;

  --logo__user-name: #004F6D;
  --logo__user-img-shadow: #F1EEDF;
  --color-logo: #3abdbd;

  --color-btn-category: #00A42B;
  --color-facebook: #39918C;
  --color-chart: #E3F7D3;
  --color-border: #67C62B;
  
  --color-stat: #67C62B;
  --stat-text: #2A272A;
  --stat-score: #004F6D;

  --color-header-fix: #f8fffb;

  --radius: 6px;
  --Roboto: 'Roboto Condensed', sans-serif;
  --Great: 'Great Vibes', cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Roboto);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-bg);
}

.container-lg {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .container-lg {
    width: 1000px;
  }
}
