:root {
  --color-bg: #FFF6FF;
  --color-window: #EAF2FA;
  --color-dark: #324B50;
  --color-white: #ffffff;
  --color-accent: #BED8F0;

  --color-green: #72d487;
  --color-yellow: yellow;
  --color-error: #ff002b;
  --color-btn-category: #1773b1;
  --color-facebook: #50b6df;
  --color-chart: #FFE8FF;
  --color-border: #9E39D4;

  --gradient-dark: #9E39D4;
  --gradient-light: #F424AA;
  --radius: 8px;
  --Roboto: 'Roboto Condensed', sans-serif;
  --Great: 'Great Vibes', cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Roboto);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-bg);
}